*{
    margin:0;
    padding:0 ;}

    /* GOOGLE FONTS */
/* font-family: 'Updock', cursive;     */
/* font-family: 'Karla', sans-serif; */

    /* body */
body{
    background-color: #fcc5e2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23ffffff' fill-opacity='0.3' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
font-family: 'Karla', sans-serif;}

/* grid 5 html */
.contenedor{
display: grid;
grid-template-areas:
"cabecera"
"principal"
"articulo"
"pie";
row-gap: 20px;}


.cabecera{
    grid-area: cabecera;}

.principal{
    grid-area:  principal;}
.articulo{
    grid-area: articulo;}
.pie{
    grid-area: pie;}

/* header */

.cabecera{
    display: flex;
    justify-content:flex-start;
    align-items: center;}

.barraNavegacion{
    display: flex;
    justify-content:center;
align-items: flex-end;
height: 100px;
padding-left: 100px;}



.barraNavegacion_items a:hover{
    border-bottom: 2px solid black;}

.logo{display: flex;
align-items: center;}

.imagen_logo
     { height: 100px;
       width: 100px;}

.logo h1{
    font-family: 'Square Peg', cursive;
    font-size: 60px;
    color:black;
    padding-left: 20px;}

.barraNavegacion_items{
    font-size: 18px;
    display: inline-block;
   margin: 15px;}

a{  
    display: flex;
   text-decoration: none;
   color: rgb(0, 0, 0);}

/* main */
main{
    min-height: 100vh;
}
.titulo_principal{
    text-align: center;
    margin: 30px;
}
.banner{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 300px;
    background:url(./imagenes/banner-collecion2.jpg);
    background-repeat: no-repeat;
    background-size:85%;
    background-position:center ;
    margin-top: 15px;
}
.titulo_banner{color: #ffffff;
    font-family: 'Updock', cursive;
    font-size:60px;
    padding: 100px;}

.imagenes_ropa{
         height: 350px
        ;width: 300px;}

.productos_destacados{
    display: flex;
    justify-content: space-evenly;}

    .productos_destacados h3{
        text-align: center;padding: 5px;}

    .productos_destacados p{
        text-align: center;}

.parrafo_1{
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    font-weight: 500;}

.boton__catalogo{
    display: flex;
    justify-content: center;
    padding: 40px;}

.boton_catalogo{
    width: fit-content;
    height: 15px;
    border: solid 2px white;
    padding: 10px 5px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;}

    .boton_catalogo:hover{
        opacity: 0.7;}

        /* article */
   .articulo{
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 120px;
       color: #000000;
       border: solid 4px black;
   }     
   
/* footer */

footer{background-image: linear-gradient(red, pink );
    display: flex;
    justify-content: flex-end;
    align-items: center;}
.items_footer{
    display: inline-block;}

    .texto_footer{
        color: white;
    padding-right: 20px;}

.logo_instagram{
    height:40px;
    width: 40px;
padding-right: 15px;}

.logo_facebook{
    height:40px;
    width: 40px;
    padding-right: 15px;}

   
/* contacto */

.titulo_contacto{
    padding: 20px;}

    .iframe_mapa{
     width: 300px;
      height: 300px;}

      

/* catalogo */

.titulo_catalogo{
    display: flex;
    justify-content: center;}

.imagen_ropa{
    height: 300px;
    width: 250px;}
.productos_catalogo h2{margin: 40px;
    text-align: center;}

    .gorros{display: flex;
        justify-content: space-evenly;
        align-items: center;}

    .ruanas{
            display: flex;
            justify-content: space-evenly;
            align-items: center;}

     .Joggers {
                display: flex;
                justify-content: space-evenly;
                align-items: center;}
     .conjuntos{
                 display: flex;
                 justify-content: space-evenly;
                 align-items: center;}

                

    @media only screen and (max-width:768px)
          {
         .cabecera{display: flex;
          flex-direction: column;
          justify-content: center;
          align-items:center}

        .barraNavegacion{
          display: flex;
         flex-direction: column;
        align-items: flex-start;}
 
        .logo h1{
            padding-left: 130px;}

        .barraNavegacion_lista{
            padding: 0;}

        .logo{padding-right: 200px;}

        .productos_destacados{
            display: flex;
            flex-direction: column;
            align-items: center;}

            .banner{
                height: 200px;}
        
         .titulo_banner{font-size: 50px;}
         
            .productos_destacados div {
                padding-bottom: 30px; }

                .productos_catalogo section{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-items: center;
                    gap: 40px;
                }
               }
    
               @media only screen and (max-width:320px){
              
                .productos_catalogo section{
                    display:flex;
                    flex-direction: column;}
                    
                    .cabecera{display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items:center;
                    }
              
    
            }