.logo{
    height: 70px;
    width: 70px;}
.texto-logo{
    font-size: 40px;
    font-family: $font-family-secundario;
    margin: 0px 20px;
    color: black;
    text-decoration: none;
}

.barraNavegacion{
    @include flexbox(column,center,center);}
    
.nav-item{
    font-size: map-get($tamanio-tipografia,subtitulos );
    margin: 15px;
    font-family:$font-family-principal;}

    
.nav-link{
    color: rgba(0, 0, 0, 0.952) !important;
}